@import "tailwindcss";

#sidebar {
  height: 100vh;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f4f9;
  padding: 25px 15px;
}
#sidebar img {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 32px;
}
#sidebar #menu {
  width: 24px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}
#sidebar #new-chat {
  margin-top: 50px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: #e6eaf1;
  border-radius: 50px;
  font-size: 14px;
  color: grey;
  cursor: pointer;
}
#sidebar #recent-chats {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


#sidebar #recent-chats-title {
  margin-top: 30px;
  margin-bottom: 20px;
}
#sidebar #recent-entry {
  display: flex;
  grid-template-columns: 28px 1fr;
  grid-template-rows: auto auto;
  align-items: start;
  gap: 6px 10px;
  padding: 10px;
  /*padding-right: 40px;*/
  border-radius: 50px;
  color: #282828;
  cursor: pointer;
}
#sidebar #recent-entry:hover {
  background-color: #e2e6eb;
  text-decoration: underline;
}
#sidebar #sidebar-bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#sidebar #bottom-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
  cursor: pointer;
}
#sidebar #bottom-item:hover {
  background-color: #e2e6eb;
  border-radius: 50px;
  text-decoration: underline;
}
#message-icon {
  grid-column: 1;
  grid-row: 1;
}

#delete-icon {
  grid-column: 1;
  grid-row: 2;
}

#recent-entry p {
  grid-column: 2;
  grid-row: 1 / 3;
  margin: 0;
  font-size: 14px;
  line-height: 1.3;
  overflow-wrap: anywhere;
}

